.iv {
  /***** snap view css *****/
  /*** zoom slider ***/
  /**** snap view css end *****/
}

.iv-container {
  overflow: hidden;
  position: relative;
}

.iv-fullscreen {
  position: fixed;
  background: #0d0d0d;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: 1000;
}

.iv-fullscreen-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.iv-container {
  overflow: hidden;
  position: relative;
}

.iv-image-mode {
  display: inline-block;
}

.iv-fullscreen-close {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 10px;
  top: 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  text-shadow: 0px 0px 3px #6d6d6d;
  transition: all ease 200ms;
}

.iv-fullscreen-close:after,
.iv-fullscreen-close:before {
  content: "";
  height: 4px;
  width: 24px;
  background: #FFF;
  position: absolute;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iv-fullscreen-close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.iv-fullscreen-close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.iv-fullscreen-close:hover {
  transform: rotate(90deg);
  transform-origin: 50% 50%;
}

.iv-snap-view {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 1px solid #aaa;
  background: black;
  z-index: 100;
  box-sizing: content-box;
  transition: opacity ease 400ms;
  opacity: 0;
  visibility: hidden;
}

.iv-snap-image-wrap {
  display: inline-block;
  position: absolute;
  max-width: 150px;
  max-height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.iv-snap-image {
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
}

.iv-snap-handle {
  box-sizing: border-box;
  position: absolute;
  border: 1px solid white;
  transform: translate3d(0, 0, 0);
  box-shadow: 0px 0px 0px 200px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  cursor: grab;
}

.iv-snap-handle:active {
  cursor: grabbing;
}

.iv-zoom-slider {
  width: 100%;
  box-sizing: content-box;
  border: 1px solid #aaa;
  border-top: 0;
  background: rgba(0, 0, 0, 0.3);
  height: 15px;
  position: absolute;
  top: 150px;
  left: -1px;
}

.iv-zoom-handle {
  width: 20px;
  height: 15px;
  background: white;
  position: absolute;
  cursor: pointer;
  cursor: grab;
}

.iv-zoom-handle:active {
  cursor: grabbing;
}

.iv-image-view {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.iv-image-wrap {
  display: inline-block;
}

.iv-image-wrap:active {
  cursor: move;
}

.iv-image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  -ms-touch-action: none;
  touch-action: none;
  transform: translate3d(0, 0, 0);
}

.iv-loader {
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  z-index: 100;
  margin-top: -16px;
  margin-left: -16px;
  font-size: 5px;
  position: absolute;
  text-indent: -9999em;
  border: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  transform: translateZ(0);
  animation: loading-icon 1.1s infinite linear;
}

.iv-loader:after {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

@keyframes loading-icon {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {
  .iv-snap-view {
    z-index: -1;
    visibility: hidden;
  }
}

#image-gallery {
  width: 100%;
  position: relative;
  height: 650px;
  background: #000;
}

#image-gallery .image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* bottom: 50px; */
  bottom: 0px;
}

#image-gallery .prev,
#image-gallery .next {
  position: absolute;
  height: 32px;
  /* margin-top: -66px; */
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#image-gallery .prev {
  left: 20px;
  cursor: pointer;
}

#image-gallery .next {
  right: 20px;
  cursor: pointer;
}

#image-gallery .footer-info {
  position: absolute;
  height: 50px;
  width: 100%;
  left: 0;
  bottom: 0;
  line-height: 50px;
  font-size: 24px;
  text-align: center;
  color: white;
  border-top: 1px solid #fff;
}

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* canvas { display:block; margin:1em auto; background:#fff; border:1px solid #ccc } */
canvas {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  max-width: 100%;
  height: auto;
}

.row-card>div[class*='col-'] {
  display: flex;
  flex: 1 0 auto;
}
